<h2>INBOX</h2>
<div class="row">
  <div class="swish-index-col col-xs-6 col-md-4">
    <p>
      They want
    </p>
    <ul>
      <li class="high img-fluid" ng-repeat="transaction in incoming.transactions">
        <h4>{{transaction.initiator.firstName}} wants:</h4>
        <img ui-sref="clothesItemsShow({ id : transaction.initial_item._id })" ng-src="{{ transaction.initial_item.image }}" />
      </li>
    </ul>
  </div>
  <div class="swish-index-col col-xs-6 col-md-4">
    <p>
      I want
    </p>
    <ul>
      <li class="high img-fluid" ng-repeat="transaction in incoming.transactions">
        <h4 ng-show="transcation.response_item">You want:</h4>
        <img ng-show="transcation.response_item" ui-sref="clothesItemsShow({ id : transaction.response_item._id})" ng-src="{{ transaction.response_item.image }}" />
        <button ui-sref="swishbackIndex( { user : transaction.initiator._id } )" ng-hide="transcation.response_item" id="view-their-closet">View Their Items</button>
      </li>
    </ul>
  </div>
  <div class="swish-index-col col-xs-6 col-md-4">
    <p>
      Status
    </p>
      <ul>
      <li class="high img-fluid" ng-repeat="transaction in incoming.transactions">

        <button type="button" name="button">Cancel</button>
      </li>
    </ul>

  </div>

</div>
