<h2>OUTBOX</h2>
<div class="row">
  <div class="swish-index-col col-xs-6 col-md-4">
    <p>
      I want
    </p>
    <ul>
      <li class="high img-fluid" ng-repeat="transaction in outgoing.transactions">
        <img ui-sref="clothesItemShow({ id : transaction.initial_item._id })" ng-src="{{ transaction.initial_item.image }}"/>
      </li>
    </ul>


  </div>
  <div class="swish-index-col col-xs-6 col-md-4">
    <p>
      They want
    </p>
    <ul>
      <li class="high img-fluid" ng-repeat="transaction in outgoing.transactions">
        <img ui-sref="clothesItemsShow({ id : transaction.response_item._id})" ng-src="{{ transaction.response_item.image }}" />
      </li>
    </ul>

    <h2 ng-hide="transaction.response_item">Pending</h2>
  </div>
  <div class="swish-index-col col-xs-6 col-md-4">
    <p>
      Status
    </p>
    <ul>
      <li class="high img-fluid" ng-repeat="transaction in outgoing.transactions">
        <button type="button" ng-click="outgoing.approve(transaction._id)">Accept</button>
        <button type="button" ng-click="outgoing.reject(transaction)">Reject</button>
        <button type="button" ng-click="outgoing.reject(transaction)">Cancel</button>
      </li>
    </ul>
  </div>

</div>
