@import "bower";

body {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
  background: #f5f5f5;
}

header {
    background: #333;
}

a.navbar-brand {
  font-size: 36px;
  color: black;
  strong {
    font-weight: 900;
  }
}

div.login-register {
  background-image: url("../images/Hero1.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  padding-bottom: 300px;
  padding-top: 150px;
  text-align: center;
}

div.formsBox {
  
}
