<div class="items-show">
  <img ng-src="{{ clothesItems.item.image }}">
  <ul>
    <li><h1>{{ clothesItems.item.title }}</h1></li>
    <li><p>{{clothesItems.item.description}}</p></li>
    <li><p>Category: {{clothesItems.item.category}}</p></li>
    <li><p>Sex: {{clothesItems.item.sex}}</p></li>
  </ul>
</div>
<ul class="list-inline nav-buttons">
  <li><a class="btn btn-default" ng-show="(main.user.id == clothesItems.item.owner)" ui-sref="clothesItemsEdit({id: clothesItems.item._id})">Edit</a></li>
  <li><button class="swish-button btn" ng-show="(main.user.id != clothesItems.item.owner)"><a ui-sref="usersOutgoingShow" ng-click"createSwish()">SWISH</a></button></li>
  <li><a class="btn btn-default" href="javascript:history.back()">Back</a></li>
</ul>
